* {
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
}

#nothing {
  display: none;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.title {
  font-family: "Courier New", Courier, monospace;
  font-size: xxx-large;
  font-weight: bolder;
  margin-top: 1em;
}

.suffix {
  color: skyblue;
}

.prefix {
  color: lightcoral;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

#page {
  z-index: 1;
}

.Header {
  width: 90%;
  color: #fff;
  position: absolute;
  top: 28%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #000;
  font-weight: bold;
  font-size: 30px;
}

.Name {
  color: #000;
  width: 100%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  max-width: 50%;
  height: 200px;
  padding: 2em 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 22px;
  cursor: pointer;
  background-color: #fff;
  border: 2px dashed skyblue;
  border-radius: 10px;
  box-shadow: 0px 5px 16px -2px rgb(42 115 217 / 70%);
}

.nav-links {
  flex: 1;
  text-align: right;
  background-color: skyblue;
  opacity: 0.9s;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.nav-links ul li a {
  color: #000;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}

.nav-links ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #000;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav-links ul li:hover::after {
  width: 100%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.container {
  min-height: 100vh;
  background: #fff;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

div img {
  width: 75px;
  border-radius: 100px;
}

nav {
  display: flex;
  padding: 1% 6%;
  justify-content: space-between;
  align-items: center;
}

nav img {
  width: 70px;
}

#popUp img {
  width: 200px;
}

#popUp {
  position: relative;
  width: 50%;
  height: 50%;
  border-radius: 10px;
  overflow: hidden;
  background-image: radial-gradient(chartreuse, red);
  background-color: #0099ff;
  background-size: cover;
  color: red;
  width: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  max-width: 50%;
  height: 200px;
}

#popUp::after {
  content: attr(data-label);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 5px 0;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.75);
  font-size: 14px;
  text-align: center;
}

.topContent {
  position: relative;
  top: 13em;
}

.Instruction,
.About {
  position: relative;
  text-align: center;
  top: 40em;
}

.Instruction h4,
.About h4 {
  color: #f44336;
  font-size: 20px;
}

.Instruction p,
.About p {
  color: purple;
  font-size: 20px;
}

.Instruction h4::after,
.About h4::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #f44336;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.Instruction h4:hover::after,
.About h4:hover::after {
  width: 100%;
}

.lightbox {
  background-color: rgba(0, 0, 0, 0.75);
  position: relative;
  z-index: 100;
  width: 100%;
  height: 100vh;
}

/* CSS */
.lightboxButton {
  background-color: #e1ecf4;
  border-radius: 3px;
  border: 1px solid #7aa7c7;
  box-shadow: rgba(255, 255, 255, 0.7) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #39739d;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", "Liberation Sans",
    sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  padding: 8px 0.8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.lightboxButton:hover,
.lightboxButton:focus {
  background-color: #b3d3ea;
  color: #2c5777;
}

.lightboxButton:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, 0.15);
}

.lightboxButton:active {
  background-color: #a0c7e4;
  box-shadow: none;
  color: #2c5777;
}
